flows.json
[{"id":"c18a97ec.059e08","type":"tab","label":"Final Project","disabled":false,"info":""},{"id":"15588ca4.103483","type":"inject","z":"c18a97ec.059e08","name":"","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":100,"wires":[["d9ed3326.6bf95","44919510.7cb87c","d4677199.d0711","10daa3e9.b197fc","f9d37c6.8b9498","2660be4c.5b4762"]]},{"id":"24edf7b2.1e2c38","type":"ui_chart","z":"c18a97ec.059e08","name":"","group":"25fd520b.ea1a7e","order":1,"width":0,"height":0,"label":"State","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":100,"wires":[[]]},{"id":"d9ed3326.6bf95","type":"file in","z":"c18a97ec.059e08","name":"State","filename":"/tmp/state.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":100,"wires":[["24edf7b2.1e2c38"]]},{"id":"44919510.7cb87c","type":"file in","z":"c18a97ec.059e08","name":"Battery","filename":"/tmp/battery.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":160,"wires":[["15951886.978827"]]},{"id":"5c24849f.da387c","type":"ui_chart","z":"c18a97ec.059e08","name":"","group":"57b5459.bbab9bc","order":1,"width":0,"height":0,"label":"Distance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":220,"wires":[[]]},{"id":"d4677199.d0711","type":"file in","z":"c18a97ec.059e08","name":"Distance from target","filename":"/tmp/radius.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":220,"wires":[["5c24849f.da387c"]]},{"id":"10daa3e9.b197fc","type":"file in","z":"c18a97ec.059e08","name":"Shots","filename":"/tmp/shots.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":280,"wires":[["3e38076b.0be6e8"]]},{"id":"137ac867.e64b28","type":"ui_chart","z":"c18a97ec.059e08","name":"","group":"56f2033b.e5c83c","order":1,"width":0,"height":0,"label":"Duty Cycle L","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-.1","ymax":"1.1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":340,"wires":[[]]},{"id":"2660be4c.5b4762","type":"file in","z":"c18a97ec.059e08","name":"Duty Cycle L","filename":"/tmp/dcL.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":340,"wires":[["137ac867.e64b28"]]},{"id":"cb3067fc.88e638","type":"ui_chart","z":"c18a97ec.059e08","name":"","group":"56f2033b.e5c83c","order":1,"width":0,"height":0,"label":"Duty Cycle R","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-.1","ymax":"1.1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":400,"wires":[[]]},{"id":"f9d37c6.8b9498","type":"file in","z":"c18a97ec.059e08","name":"Duty Cycle R","filename":"/tmp/dcR.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":400,"wires":[["cb3067fc.88e638"]]},{"id":"15951886.978827","type":"ui_gauge","z":"c18a97ec.059e08","name":"","group":"f62a98d3.97aed8","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"units","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":160,"wires":[]},{"id":"3e38076b.0be6e8","type":"ui_gauge","z":"c18a97ec.059e08","name":"","group":"9a622b36.6790f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Shots Fired","label":"units","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"25fd520b.ea1a7e","type":"ui_group","z":"","name":"State","tab":"2edfdff1.c521f","order":1,"disp":true,"width":"6","collapse":false},{"id":"57b5459.bbab9bc","type":"ui_group","z":"","name":"Distance From Target","tab":"2edfdff1.c521f","order":3,"disp":true,"width":"6","collapse":false},{"id":"56f2033b.e5c83c","type":"ui_group","z":"","name":"Duty Cycles","tab":"2edfdff1.c521f","order":5,"disp":true,"width":"6","collapse":false},{"id":"f62a98d3.97aed8","type":"ui_group","z":"","name":"Battery","tab":"2edfdff1.c521f","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a622b36.6790f8","type":"ui_group","z":"","name":"Shots fired","tab":"2edfdff1.c521f","order":4,"disp":true,"width":"6","collapse":false},{"id":"2edfdff1.c521f","type":"ui_tab","z":"","name":"Final Project","icon":"dashboard","order":4,"disabled":false,"hidden":false}]